body{
    font: 20px, Arial;
}

.navbar{
    background-color: white;
    font-size:xx-large;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: purple;
    color: red;
}

.bg-footer{
    background-color: black;
    color: azure;
}